.active {
  color: rgb(163, 154, 154);
  margin-right: 2%;
}

.inactive {
  color: black;
  margin-right: 2%;
}

.h1 {
  justify-self: center;
}

.nav {
  position: fixed;
  top: 2%;
  right: 5%;
  display: flex;
  gap: 10%;
  justify-content: flex-end;
  font-size: xx-large;
}
